.Home {
  text-align: center;
  padding-top: 30vh;
}

#profile-input {
  flex-grow: 1;
  max-width: 600px;
}

.input {
  font-size: 22px;
  padding: 14px;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
}

.input-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  background: #1f60b1;
  color: white;
  outline: none;
  border: none;
  padding: 14px;
  font-weight: 600;
  border-radius: 0 5px 5px 0;
  height: 55px;
  width: 58px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-button:hover {
  background: #2977d6;
}

@media (max-width: 700px) {
  .input {
    font-size: 18px;
    padding: 12px;
  }

  #profile-input {
    max-width: 100vw;
    font-size: 18px;
  }

  .submit-button {
    font-size: 18px;
    padding: 12px;
    height: 46px;
  }
}