.library-filter {
  background: #20354f;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 15px;
}

.search-icon {
  margin-left: 15px;
  font-size: 18px;
}

.search {
  background: #20354f;
  color: white;
  width: 100%;
  border-radius: 5px;
}

.summary-text {
  font-weight: 800;
  font-size: 40px;
}

.result-graph {
  display: flex;
  height: 46px;
  background: #314252;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 10px;
}

.graph-section {
  cursor: pointer;
}

.item-verified {
  background: #59BF40;
}

.item-playable {
  background: #ffc82c;
}

.item-unsupported {
  background: #bd1b1b;
}

.item-unknown {
  flex-grow: 1;
}
  
.result-details {
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
}

.result-item {
  margin-right: 15px;
  cursor: pointer;
  user-select: none;
}

.result-item-name {
  font-size: 18px;
}

.result-icon {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.result-icon.item-unknown {
  background: #314252;
  flex-grow: 0;
}

.sk-folding-cube {
  margin: 20px auto;
  margin-top: 40vh;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg) scale(2);
          transform: rotateZ(45deg) scale(2);
}


@media (max-width: 700px) {
  .summary-text {
    font-size: 30px;
  }

  .result-item-name {
    font-size: 16px;
  }
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}